Django==1.8.2
MarkupSafe==0.18
argparse==1.2.1
dj-database-url==0.3.0
django-markdown-deux==1.0.5
django-static-jquery==2.1.4
markdown2==2.3.0
wsgiref==0.1.2
psycopg2==2.6
whitenoise==1.0.6
gunicorn==19.2.1
