{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block title %}
    <meta charset="utf-8">
    <title>Chores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="this is a blog">
    <meta name="author" content="Matthew Odle">
{% endblock %}

{% block content %}

<form action="{% url 'search' %}" method="POST">
{% csrf_token %}
    {{ search_form }}
    <input type="submit" class="btn" value="Search &raquo;"/>
</form>

{% for chore in chores %}
    <div class="row-fluid">
        <div class="span12">
            <h3>{{ chore.title }}</h3>
            <p class="small-caps-header">{{ chore.category }}</p>
            <p><a class="btn" href="">Mark Done &raquo;</a></p>
            <hr>
        </div><!--/span-->
    </div><!--/row-->
{% endfor %}

{% endblock %}
