{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load chores_extras %}

{% block content %}
<div class="container-fluid">
    <button type="button" class="btn" data-toggle="collapse" data-target=".newpost-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="newpost-collapse collapse">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form }}
            <p>
                <input class="btn" type="submit" value="Post &raquo;" id="submit"/>
            </p>
        </form>
    </div>
</div>

<hr noshade>
<hr noshade>


{% for chore in chores %}
    <div class="row-fluid">
        <div class="span12">
            <h3>{{ chore.title }}</h3>
            <p class="small-caps-header">{{ chore.category }}</p>
            <p>Primary assignee: <span class="small-caps-header">{{ chore.primary_assignee }}</span></p>
            <p>Secondary assignee: <span class="small-caps-header">{{ chore.secondary_assignee }}</span></p>
            <p>Last Completed by <span class="small-caps-header">{{ chore.last_completed_by }}</span> on
            <span class="small-caps-header">{{ chore.last_completed_date }}</span></p>
            <p>Overdue by: <span class="small-caps-header">{{ chore.last_completed_date|overdue:chore.frequency_in_days }} days</span></p>
            <p><a class="btn" href="">Mark Done &raquo;</a></p>
            <hr>
        </div><!--/span-->
    </div><!--/row-->
{% endfor %}

{% endblock %}

{% block navsidebar %}
{% endblock %}
