{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h2>{{ post.title }}{% if not post.published %}<span style="color:#FFAAAA; font-weight:bold"> - DRAFT</span>{% endif %}</h2>
        <p class="small-caps-header">{{ post.category }}</p>
        <p class="small-caps-header">Published: {{ post.posted }}</p>
        <hr>
        {% markdown %}
            {{ post.body | safe }}
        {% endmarkdown %}
        <br><br>
        <hr>
        <p class="small-caps-header">Edited: {{ post.edited }}</p>
    </div><!--/span-->
</div><!--/row-->
<hr>

<div class="row-fluid">
    <div class="span12">
        <h5>Add Comment</h5>
        <form method="POST" action="">
        {% csrf_token %}
            {{ form.id }}
            {{ form.comment }}<br><br>
            <input type=submit class="btn" value="Publish Comment &raquo;"/>
        </form>
        <hr noshade>

        {% if comments %}
            <h3>Comments</h3>
            {% for comment in comments %}
                <b class="small-caps-header">{{ comment.user.username }} &mdash; {{ comment.publishDate }}</b><br><br>{{ comment.comment }}
                <hr>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
